---
import {type CollectionEntry, getCollection} from 'astro:content';
import Layout from "../layouts/Layout.astro";

type Project = CollectionEntry<'projects'>;

const projects = await getCollection('projects');

projects.sort((a: Project, b: Project) => b.data.startYear - a.data.startYear);
---

<style>
  .card {
    width: 300px;
    padding: 0;
  }
</style>

<Layout title="Projets" canonicalUrl="/projects">
  <main class="projects">
    <div class="row justify-content-center">
      {projects.map((project: Project) => {
          let endYear = ` - Aujourd'hui`;
          if (project.data.endYear) {
            endYear = ` - ${project.data.endYear}`;
            if (project.data.startYear === project.data.endYear) {
              endYear = '';
            }
          }

          return (
              <div class="card m-2 p-0">
                {project.data.image &&
                    <img class="card-img-top" src={project.data.image} alt="" role="presentation">
                }
                <div class="card-body">
                  <h5 class="card-title">{project.data.name}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    {project.data.startYear}{endYear}
                  </h6>
                  <p class="card-text">{project.data.type}</p>
                  <a href={project.data.url}>www</a> ·
                  <a href={project.data.source}>source</a>
                </div>
              </div>
          )
        }
      )}
    </div>
  </main>
</Layout>
