---
import {type CollectionEntry, getCollection} from 'astro:content';
import Layout from "../layouts/Layout.astro";

type Project = CollectionEntry<'projects'>;

const projects = await getCollection('projects');

projects.sort((a: Project, b:Project) => b.data.startYear - a.data.startYear);

---

<Layout title="Projets" canonicalUrl="/projects">
  <main>
      {projects.map((project: Project) => {
          let endYear = ` - Aujourd'hui`;
          if (project.data.endYear) {
            endYear = ` - ${project.data.endYear}`;
            if (project.data.startYear === project.data.endYear) {
              endYear = '';
            }
          }

          return (
              <div class="article">
                <h2><a href={project.data.url}>{project.data.name}</a></h2>
                <p>
                  {project.data.type} ·
                  {project.data.startYear}{endYear}
                </p>
              </div>
          )
        }
      )}
  </main>
</Layout>
