---
type Props = {
  audioUrl: string;
  slug: string;
};

const {audioUrl, slug}: Props = Astro.props;
---

<style>
  .audio-player {
    margin: auto auto 2em;
  }

  .audio-player__player,
  .audio-player__download {
    width: 100%;
  }

  @media(min-width: 512px) {
    .audio-player {
      display: flex;
      justify-content: center;
      gap: 8px;
    }

    .audio-player__download {
      width: 160px;
    }
  }

  .audio
</style>

<script>
  /** global umami */
  const audioPlayer = document.querySelector('.audio-player');
  if (audioPlayer) {
    const audioSlug = audioPlayer.getAttribute('data-slug');
    audioPlayer.addEventListener('play', () => {
      console.log(`audio played: ${audioSlug}`);
      window.umami.track('audio-played', {
        slug: audioSlug,
      })
    });

    audioPlayer.addEventListener('ended', () => {
      console.log(`audio ended: ${audioSlug}`);
      window.umami.track('audio-ended', {
        slug: audioSlug,
      })
    });
  }
</script>

<div class="audio-player">
  <audio controls class="audio-player__player" data-slug={slug}>
    <source src={audioUrl} type="audio/mpeg">
    Votre navigateur ne supporte pas la balise audio.
  </audio>
  <a href={audioUrl} class="btn btn-secondary audio-player__download" download={`${slug}.mp3`}>
    Télécharger
  </a>
</div>
