---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

type Sound = CollectionEntry<'sounds'>;

export async function getStaticPaths() {
  const sounds = await getCollection('sounds');
  return sounds.map((sound: Sound) => ({
    params: { slug: sound.slug },
    props: sound,
  }));
}

const sound = Astro.props;
const { Content } = await sound.render();
---

<style>
  main {
    max-width: 100%;
    margin: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .hero-image {
    width: 100%;
  }

  .hero-image img {
    display: block;
    margin: 0 auto 1em;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }

  .prose {
    font-size: 20px;
    line-height: 1.3em;
    width: 720px;
    max-width: calc(100%);
    margin: auto;
    color: rgb(var(--gray-dark));
  }

  .title {
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }

  .title h1 {
    margin: 0 0 0.5em 0;
  }

  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }

  .last-updated-on {
    font-style: italic;
  }

  .audio-player {
    display: block;
    margin: auto auto 2em;
    width: 90%;
  }
</style>

<script>
  /** global umami */
  const audioPlayer = document.querySelector('.audio-player');
  if (audioPlayer) {
    const audioSlug = audioPlayer.getAttribute('data-audio-slug');
    audioPlayer.addEventListener('play', () => {
      console.log('audio played');
      window.umami.track('audio-played', {
        slug: audioSlug,
      })
    });

    audioPlayer.addEventListener('ended', () => {
      console.log('audio ended');
      window.umami.track('audio-ended', {
        slug: audioSlug,
      })
    });
  }
</script>

<Layout
    title=`${sound.data.title} · Sons`
    description={sound.data.description}
    canonicalUrl={`/sons/${sound.slug}`}
    previewImageUrl={sound.data.coverImage}
>
  <main>
    <article lang="fr">
      <div class="prose">
        <div class="title">
          <h1>{sound.data.title}</h1>
          <div class="date">
            <FormattedDate date={sound.data.pubDate} language="fr"/>
          </div>
        </div>

        <div class="hero-image">
          {sound.data.coverImage && <img width={1020} height={510} src={sound.data.coverImage} alt=""/>}
        </div>

        <audio class="audio-player" data-audio-slug={sound.slug} controls>
            <source src={sound.data.fileUrl} type="audio/mpeg"/>
            Your browser does not support the audio element.
        </audio>
        <Content/>
      </div>
    </article>
  </main>
</Layout>
